* {
    box-sizing: border-box;    
}

body {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1 {
    margin: 48px 0;
    font-size: 3rem;
}

h4 {
    padding: 0 180px 32px 180px;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0;
}

main {
    display: flex;    
    padding: 0 80px;
    gap: 80px ;
    margin-bottom: 80px;
}

.left-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-wrp {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;    
    font-size: 2.5rem;
    width: 300px;    
}

p {
    margin: 0;
    padding: 8px 0;
}

#counter {    
    font-size: 3.5rem;
    font-weight: 600;
    color: darkgreen;    
}

.game-field {
    height: 300px;
    width: 300px;
    border: 1px solid blueviolet;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);;
    padding: 2px;
    gap: 2px;
}

.game-cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rebeccapurple;
    font-weight: 600;
    font-size: 3.5rem;    
}

button {
    background-color: rgb(37, 105, 37);
    border: none;
    border-radius: 12px;
    color: #fff;
    width: 320px;
    height: 80px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    cursor: pointer;
}

#stop {
    margin-left: 48px;
    background-color: rgb(245, 93, 76);
}

#stop:disabled  {
    background-color: gray;
    opacity: 0.3;
    cursor: unset;
}

#start:disabled  {
    background-color: gray;
    opacity: 0.3;
    cursor: unset;
}